
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Figtree', sans-serif;
  font-weight: 500;
  background: hsl(47, 88%, 63%);
  min-height: 100vh;

  border: 2px solid blue;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background: hsl(0, 0%, 100%);
  width: 90%;
  max-width: 375px;
  margin: 0 auto;
  padding: 1rem 0;
  border: 2px solid black;
  border-radius: 20px;
}

.card__header--category {
  display: inline-block;
  background: hsl(47, 88%, 63%);
  font-weight: 800;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  margin-bottom: 0;
}

img {
  width: 100%;
  border-radius: 10px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.card__main--title {
  font-size: 1.2rem;
  font-weight: 1000;
}

.card__main--title:hover  {
  color:hsl(47, 88%, 63%);
}

.card__main--text {
  color: hsl(0, 0%, 50%);
}

.card__footer--text {
  display: flex;
  align-items: center;
  font-weight: 800;
}

.card__footer--img {
  display: inline-block;
  max-width: 40px;
  margin-right: 1rem;
}